body {
    font-family: 'Poppins', sans-serif;
    background-color: #f3f4f6;
    display: flex;
    justify-content: center;
    margin: 0;
    margin-top: 20px;
}

.bg-container {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    width: 350px;
}
h1{
    text-align: center;
}

.todo-form {
    display: flex;
    gap: 10px;
}

.todo-input {
    flex: 1;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
}

.form-btn {
    background-color: #5cb85c;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.form-btn:hover{
    background-color: #42a342;
}

.todo-list {
    list-style: none;
    padding: 0;
}

.todo-list li {
    background: #f9f9f9;
    padding: 10px;
    display: flex;
    align-items: center;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin-top: 10px;
}
.todo-list li span{
    flex: 1;
}

.icons {
    display: flex;
    gap: 5px;
}

.edit-btn,
.delete-btn {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

.edit-btn {
    color: #ffc107;
    margin-right: 5px;
}

.delete-btn {
    color: #dc3545;
}